<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products electron</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
</head>
<body>
    
    <div class="container p-4">
        <div class="row" id="products"></div>

    </div>
    <script>
        const {ipcRenderer} = require('electron');

        const products = document.querySelector('#products')
        
        ipcRenderer.on('product:new',(e, newProduct)=>{
            const newProductTemplate = `
            <div class="col-md-4">
                <div class="card h-100 shadow-lg border border-2">
                    <div class="card-header bg-white border-bottom border-2 border py-3 text-center">
                     <h5 class="card-title text-center m-0" style="text-transform:none;">
                        ${newProduct.name}
                        </h5>
                    </div>
                        <div class="card-header bg-white border-bottom border-2 border py-3 text-center">
                        ${newProduct.description}
                        </div> 
                            <div class="card-header bg-white border-bottom border-2 border py-3 text-center">
                                <h4 class="fw-bold text-center">
                        ${newProduct.price}
                                </h4>
                            </div> 
                            <div class="card-footer bg-white border-top border-2 border py-3 text-center">
                        <button class="btn btn-danger btn-sm px-4">
                            DELETE
                            </button>
                    </div>
                </div>    
            </div>        
            `;
            products.innerHTML+= newProductTemplate;
            const btns = document.querySelectorAll('.btn.btn-danger');
            btns.forEach(btn =>{
                btn.addEventListener('click', e =>{
                    e.target.parentElement.parentElement.parentElement.remove();
                });
            });
        });
        
        ipcRenderer.on("products:remove-all", (e) =>{
            console.log("Remove-all")
            products.innerHTML='';
        })
        
    </script>
</body>
</html>