<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products electron</title>
    <script src="../../assets/js/bootstrap.bundle.min.js"defer></script>
    <script src="../../src/render/app.js"defer></script>
    <link rel="stylesheet" href="../../assets/css/side-bar.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.css">
</head>
<body>

    <div class="d-flex">
        <div class="bg-dark text-white p-3 vh-100" id="sidebar">
            <h4>Inventory</h4>
            <ul class="nav flex-column mt-4">
                <li class="nav-item">
                    <a href="#" id="nav-products" class="nav-link text-white">
                        Products
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" id="nav-categories" class="nav-link text-white">
                        Categories
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white">
                        Reports
                    </a>
                </li>
            </ul>
        </div>
        <div class="container-fluid p-4" id="main-content">
            
            <div class="row"></div>
        </div>
    </div>
    
    <div id="productModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-sm">
             <div class="modal-content">       
                <div class="modal-header">
                
                <h5 class="modal-title">
                    New product
                </h5>

                <button type="button"
                class="btn-close"
                data-bs-dismiss="modal">
                </button>

                </div>

                <div class="modal-body">
                <form id="product-form">
                    <div class="mb-3">
                        <input type="text"
                         class="form-control mb-3"
                         id="product-name"
                         placeholder="Product name">

                         <input type="text"
                         class="form-control mb-3"
                         id="product-description"
                         placeholder="Product-description">

                         <input type="number"
                         class="form-control mb-3"
                         id="product-price"
                         placeholder="Price product $">

                         <input type="number"
                         class="form-control mb-3"
                         id="product-stock"
                         placeholder="Stock">

                         <select class="form-select"  id="product-category"></select>
                    </div>
                    <button class="btn btn-primary w-100" type="submit">
                        Save product
                    </button>
                </form>
                </div>
            </div> 
        </div>
    </div>

 
    <div id="categoryModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        New Category
                    </h5>

                    <button type="button" 
                    class="btn-close" 
                    data-bs-dismiss="modal">
                    </button>

                </div>
                <div class="modal-body">
                    <form id="category-form">

                        <div class="mb-3">
                            <input type="text" 
                            class="form-control"
                             id="category-name"
                             placeholder="Category name">
                        </div>
                        <button class="btn btn-primary w-100" type="submit">
                            Save category
                        </button>
                    </form>
                </div>
            </div>        
        </div>
    </div>

    <div id="deleteProductModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">

                    <h5 class="modal-title">
                    ¿Estas seguro de eliminar el producto?
                    </h5>
                        
                    <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal">
                    </button>

                </div>
                    <div class="modal-body text-center">
                        ! Esta acción no se puede deshacer.
                    </div>
                        <div class="modal-footer">
                            <button id="confirm-delete-product" class="btn btn-outline-danger  mb-3" >Eliminar</button>
                            <button class="btn btn-primary  mb-3" type="submit">Cancelar</button>
                        </div>            
            </div>
        </div>
    </div>

    <div id="deleteCategoryModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">

                    <h5 class="modal-title">
                        ¿Estas seguro de eliminar la categoria?
                    </h5>

                    <button type="button" 
                    class="btn-close" 
                    data-bs-dismiss="modal">
                    </button>

                </div>

                <div class="modal-body text-center">
                    ! Esta acción no se puede deshacer
                </div>
                    <div class="modal-footer">
                        <button id="confirm-delete-category" class="btn btn-outline-danger mb-3">Eliminar</button>
                        <button id="" class="btn btn.primary mb-3" type="submit">Cancelar</button>
                    </div>
            </div>
        </div>
    </div>

</body>
</html>