<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new product</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
</head>
<body>
   <form class="p-4">
    <div class="mb-3">
        <input type="text" id="name" class="form-control" placeholder="Product Name">
    </div>
    <div class="mb-3">
        <input type="text" id="price" class="form-control" placeholder="Price">
    </div>
    <div class="mb-3">
        <input type="text" id="description" class="form-control" placeholder="Description">
    </div>
    <button type="submit" class="btn btn-primary w-100">
        Save Product
    </button>
</form>
    <script>
        const {ipcRenderer} = require('electron');

        const form = document.querySelector('form');
        form.addEventListener('submit', e =>{
            const nameProduct = document.querySelector('#name').value;
            const priceProduct = document.querySelector('#price').value;
            const descProduct = document.querySelector('#description').value;
            const newProduct={
                name: nameProduct,
                price: priceProduct,
                description: descProduct
            }

            ipcRenderer.send('product:new', newProduct);
            e.preventDefault();
        });
    </script> 
    
</body>
</html>