<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Category</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
</head>
<body>

    <form class="p-4">

        <div class="mb-3">
            <input
                type="text"
                id="category-name"
                class="form-control"
                placeholder="Category Name">
        </div>

        <button
            type="submit"
            class="btn btn-primary w-100">

            Save Category

        </button>

    </form>
</body>
</html>