<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new product</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <script src="../render/new-product.js"defer></script>
</head>
<body>
   <form class="p-4">
    <div class="mb-3">
        <input type="text" id="name" class="form-control" placeholder="Product Name">
    </div>
    <div class="mb-3">
        <input type="text" id="price" class="form-control" placeholder="Price">
    </div>
    <div class="mb-3">
        <input type="text" id="description" class="form-control" placeholder="Description">
    </div>
    <div class="mb-3">
        <select id="category" class="form-select">
            <option value="">Select category</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary w-100">
        Save Product
    </button>
</form>
</body>
</html>